@media only screen and (max-width: 1050px) {
    .projetos-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media only screen and (max-width: 768px) {
    .container, header{
        padding: 0 2rem;
    }
    nav ul{
        display: none;
    }
    .home img{
        display: none;
    }
    .projetos-grid {
        grid-template-columns: 1fr 1fr;
    }
    
    #sobre ul{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    #projetos h3{
        text-align: center;
    }
    .container-servico {
        display: block;
        
    }
    .container-servico div{
        margin-bottom: 30px;
    }
}

@media only screen and (max-width:670px) {
    .projetos-grid {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .container-servico div {
        
        margin-right: 0;
    }
    footer{
        display: block;
    }
    
    .box-projetos{
        width: 312px;
    }
    #projetos img{
        max-width: 275px;
        max-height: 235px;
    }

    #sobre p {
        font-size: 1em;
        text-align: justify;
        padding: 0;
    }
    #sobre ul li p {
        text-align:center;
    }
    .desc{
        display: none;
    }
    .skills-content{
        display: grid;
    }
    #skills h1 {
        margin-top: 290px;
    }
    .skills-content svg{
        font-size: 70px;
    }
    .skills-content img{
        max-width: 70px;
    }
    .container{
        margin-bottom: 80px;
    }

}
@media only screen and (max-width:520px){
    
}
